<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.api.user.mapper.BsCityMapper">

  <resultMap id="cityVOMap" type="com.pig4cloud.pigx.api.user.vo.CityVO">
                  <id property="cityId" column="city_id"/>
                        <result property="code" column="code"/>
                        <result property="name" column="name"/>
                        <result property="provId" column="prov_id"/>
                        <result property="createUserId" column="create_user_id"/>
                        <result property="createUserName" column="create_user_name" />
                        <result property="createTime" column="create_time"/>
                        <result property="updateUserId" column="update_user_id"/>
                        <result property="updateUserName" column="update_user_name" />
                        <result property="updateTime" column="update_time"/>
            </resultMap>
            <select id="getCityList" resultMap="cityVOMap">
                SELECT
                    c.city_id,
                    c.CODE,
                    c.NAME,
                    c.prov_id,
                    p.name provName,
                    c.create_user_id,
                    u1.username createUserName,
                    c.create_time,
                    c.update_user_id,
                    u2.username updateUserName,
                    c.update_time 
                FROM
                    bs_city c
                    LEFT JOIN sys_user u1 ON c.create_user_id = u1.user_id
                    LEFT JOIN sys_user u2 ON c.update_user_id = u2.user_id
                    LEFT JOIN bs_province p ON c.prov_id = p.prov_id
            </select>
            <select id="getCityByCode" resultType="com.pig4cloud.pigx.api.user.vo.CityVO">
             select city_id,code,name,prov_id from bs_city where code=#{code}
            </select>
</mapper>
