<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.smartff.generator.mapper.SfInspectionTaskMapper">

    <resultMap id="sfInspectionTaskMap" type="com.pig4cloud.pigx.smartff.generator.entity.SfInspectionTask">
        <id property="id" column="id"/>
        <result property="taskcode" column="taskcode"/>
        <result property="taskname" column="taskname"/>
        <result property="taskcontent" column="taskcontent"/>
        <result property="tasktype" column="tasktype"/>
        <result property="planid" column="planid"/>
        <result property="kaishi" column="kaishi"/>
        <result property="finish" column="finish"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="buildid" column="buildid"/>
        <result property="buildName" column="build_name"/>
        <result property="persons" column="persons"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createtime" column="createtime"/>
        <result property="modifyUserId" column="modify_user_id"/>
        <result property="modifyUserName" column="modify_user_name"/>
        <result property="modifytime" column="modifytime"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="findByTaskNameList" resultType="com.pig4cloud.pigx.smartff.generator.entity.SfInspectionTask">
        select * from sf_inspection_task
        <where>
            <if test="query.taskname != null and query.taskname != ''">
               and taskname like CONCAT('%',#{query.taskname},'%')
            </if>
            <if test="query.orgId != null and query.orgId != ''">
               and org_id = #{query.orgId}
            </if>
        </where>
    </select>

    <select id="findTaskByJob" resultType="com.pig4cloud.pigx.smartff.generator.entity.SfInspectionTask">
        select t.* from sf_inspection_task t
        where t.id not in (select e.taskid from sf_inspection_execute e)
        and DATE_FORMAT(begin_time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')
        and t.tasktype=2
    </select>

    <select id="findTasktList" resultType="com.pig4cloud.pigx.smartff.generator.entity.SfInspectionTask">
        select * from sf_inspection_task
        <where>
            <if test="query.unitIds !=null and query.unitIds.size() > 0">
                and org_id in
                <foreach collection="query.unitIds" item="orgId" index="index" open="(" close=")" separator=",">
                    #{orgId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
